.idea
.DS_Store
*.iml
src/main/resources/config.config
src/main/resources/conf/local
/target
screenshots/
/Reports

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/
# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml

### SBT ###
# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

target/
lib_managed/
src_managed/
project/boot/
.history
.cache

### Scala ###
*.class
*.log

# sbt specific
.lib/
dist/*
project/plugins/project/

# Scala-IDE specific
.ensime
.ensime_cache/
.scala_dependencies
.worksheet